
.myheader{
  background-color: palegreen;
  text-align: center;
  font-weight: bold;
  background: url(https://www.pixelstalk.net/wp-content/uploads/2016/12/1920x1080-City-At-Night-Hi-Res-768x432.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.profpic{
  border-radius: 10%;
  
}
#about{
  background-color:yellow;
  background: url(https://img.freepik.com/free-photo/panorama-morning-sky-cloud_58717-76.jpg?size=626&ext=jpg);
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

.carousel-item {
 height: 500px;
    text-align: center;
}


.item1 {
  background-color:red;
  /*height: 100px;*/
}

.item2 {
  background-color:yellow;
  /*height: 100px;*/
}

.item3 {
  background-color:blue;
  /*height: 100px;*/
}

.card-body{
  background: url(https://www.dream-wallpaper.com/free-wallpaper/nature-wallpaper/wallpaper-of-vast-country-field,-blue-sky,-white-cloud-2-wallpaper/1440x900/free-wallpaper-2.jpg);
  );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  
}

